## Python Data structures:
            - List
            - Tuple
            - Set
            - Dictionary

# List:
         - It can stores different data type elements
         - It coan be defined as "{ }"  and type casting as "list()"
         - It consists of index so slicing can be done
         - It stores the values in given format
         - In this the values can be change
         - It can store duplicate elements

# Tuple:
              - It can stores different data type elements
              -  It can be defined as "( )"  and type casting as "tuple()"
              - It consists of index and slicing can be done
              - It stores the value in given format
              - In this the values cant be changed
              - It can stores duplicate elements

# Set:
                 - It can stores different data type elements
                 - It can be defined as "{ }"  and type casting as "set()" => {a} => set
                 - It doest consists of index and slicing can't be done
                 - It stores the value in given format but it prints in alphabetical order
                 - In this the value can be changed
                 - It cnt stores the duplicate elements

# Dictionary:
                          - It can store the different data type elements but if follws key and value pairs
                          - It can be defined as "{ }" by default as type casting as "dict()"
                          - It consists of  index but it can be applicable for keys or values and slicing can be done
                          -  It stores the value in given format
                          - In this the values can be changed
                          - It cant storesthe duplicate keys but itstores duplicate values

# List:

In [1]:
k = [23,45.26,"rajesh",23,"sommu"]
print(k,type(k))

[23, 45.26, 'rajesh', 23, 'sommu'] <class 'list'>

In [2]:
a = 15
print(type(a))

<class 'int'>

In [3]:
print(k[2])
print(k[-3])

rajesh
rajesh

In [4]:
print(dir(k))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [5]:
print(dir(list))
dir(list)

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [6]:
m = [45,78.56]
print(m)
n = input()
m.append(n)
print(m)

[45, 78.56]
somu
[45, 78.56, 'somu']

In [7]:
m

[45, 78.56, 'somu']

In [13]:
n = ["tarun",45,148,45.20]
b = n.copy()
print(b,type(b))
print(n)
n.append("prasad")
print(n)
print(b)
b.append("kumar")
print(n)
print(b)

['tarun', 45, 148, 45.2] <class 'list'>
['tarun', 45, 148, 45.2]
['tarun', 45, 148, 45.2, 'prasad']
['tarun', 45, 148, 45.2]
['tarun', 45, 148, 45.2, 'prasad']
['tarun', 45, 148, 45.2, 'kumar']

In [14]:
p = [12,15,12,78,'somu',89,'kiran']
#print(p.count(1))
#print(p.count(12))
for n in p:
    print("{ } count is : { }".format(n,p.count(n)))

KeyError: ' '

In [15]:
for b in range(len(p)):
    print(b)

0
1
2
3
4
5
6

In [16]:
v = [78,89.1245,"prasad"]
b = ["Somu","Tejaswini","Lalitha"]
v.extend(b)
print(v)
print(b)
b.append(200)
print(v)
print(b)

[78, 89.1245, 'prasad', 'Somu', 'Tejaswini', 'Lalitha']
['Somu', 'Tejaswini', 'Lalitha']
[78, 89.1245, 'prasad', 'Somu', 'Tejaswini', 'Lalitha']
['Somu', 'Tejaswini', 'Lalitha', 200]

In [17]:
v.index(78)

0

In [18]:
print(v.index("prasad"))

2

In [19]:
x = [12,15,19,750]
x.insert("Rajesh",0)
print(x)

TypeError: 'str' object cannot be interpreted as an integer

In [24]:
print(list.insert._doc__)

AttributeError: 'method_descriptor' object has no attribute '_doc__'

In [ ]:
help(insert)

In [20]:
x

[12, 15, 19, 750]

In [21]:
print(x)
x.pop()
print(x)

[12, 15, 19, 750]
[12, 15, 19]

In [22]:
x.pop(1)

15

In [23]:
print(x)

[12, 19]

In [25]:
y = [45,89.12,76,"prasad","srilatha","ramesh"]
print(y)

[45, 89.12, 76, 'prasad', 'srilatha', 'ramesh']

In [33]:
print(y)
y.remove(45)
print(y)

[45, 89.12, 'prasad', 'srilatha', 'ramesh']
[89.12, 'prasad', 'srilatha', 'ramesh']

In [36]:
p = [45,2,200,1]
print(p)
p.sort()
print(k)

[45, 2, 200, 1]
[23, 45.26, 'rajesh', 23, 'sommu']

In [37]:
k = [45.012,40.125,0.1230]
print(k)
k.sort()
print(k)

[45.012, 40.125, 0.123]
[0.123, 40.125, 45.012]

In [38]:
s =["abdul","tilak","ramu","zeeshan"]
print(s)
s.sort()
print(s)

['abdul', 'tilak', 'ramu', 'zeeshan']
['abdul', 'ramu', 'tilak', 'zeeshan']

In [39]:
sorted(s)

['abdul', 'ramu', 'tilak', 'zeeshan']

In [40]:
print(s)

['abdul', 'ramu', 'tilak', 'zeeshan']

In [41]:
d = [45,4,400]
f = sorted(d)
print(d)
print(f)

[45, 4, 400]
[4, 45, 400]

In [42]:
print(d)
d.clear()
print(d)

[45, 4, 400]
[]

In [43]:
f = [45,78,96]
print(f)
del f
print(f)

[45, 78, 96]

NameError: name 'f' is not defined

# Tuple:

In [44]:
s = (12,48,79.5678,12"tarun")
print(s,type(s))

(12, 48, 79.5678, 'tarun') <class 'tuple'>

In [45]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [46]:
print(s)
print(s.count(12))
print(s)

(12, 48, 79.5678, 'tarun')
1
(12, 48, 79.5678, 'tarun')

In [47]:
s.index(48)

1

In [48]:
p =(45,78,12,96,56)
d = list(p)
print(d,type(d))
d.sort()
q = tuple(d)
print(q)

[45, 78, 12, 96, 56] <class 'list'>
(12, 45, 56, 78, 96)