# set:

In [1]:
g = {45,'a',45,120,155,450,"Ramu"}
print(g)

{'Ramu', 450, 45, 'a', 120, 155}

In [2]:
g

{120, 155, 45, 450, 'Ramu', 'a'}

In [3]:
h = ()
m = {2}
print(h,type(h))
print(m,type(m))

() <class 'tuple'>
{2} <class 'set'>

In [4]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [11]:
s1 = {34,67,"ramu",0,"lalitha"}
s1.add("prasanna")
s1.pop()
print(s1)

{34, 67, 'lalitha', 'prasanna', 'ramu'}

In [12]:
s1

{34, 67, 'lalitha', 'prasanna', 'ramu'}

In [13]:
print(s1)
s1.pop()
print(s1)

{34, 67, 'lalitha', 'prasanna', 'ramu'}
{67, 'lalitha', 'prasanna', 'ramu'}

In [14]:
print(s1)
s1.pop('ramu')
print(s1)

{67, 'lalitha', 'prasanna', 'ramu'}

TypeError: pop() takes no arguments (1 given)

In [15]:
print(s1)
s1.remove('ramu')
print(s1)

{67, 'lalitha', 'prasanna', 'ramu'}
{67, 'lalitha', 'prasanna'}

In [16]:
print(s1)
s1.remove("prasanna")
print(s1)

{67, 'lalitha', 'prasanna'}
{67, 'lalitha'}

In [17]:
s2 = {45,8,32,5,6}
s3 = {1,2,5,7,6,12,123,456}
print(s2)
print(s3)
print(s2.union(s3))
print(s2)
print(s3)

{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 12, 123}
{32, 1, 2, 5, 6, 7, 8, 456, 12, 45, 123}
{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 12, 123}

In [18]:
print(s2)
print(s3)
print(s2.intersection(s3))
print(s2)
print(s3)

{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 12, 123}
{5, 6}
{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 12, 123}

# Dictionary:

In [68]:
t = {'name':("ramu","suresh","tejaswini"),'age':20,'sal':[24.5,48.56]}
print(t,type(t))

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56]} <class 'dict'>

In [34]:
print(t['sal'][0])

24.5

In [69]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [70]:
print(t.keys())

dict_keys(['name', 'age', 'sal'])

In [71]:
print(t.values())

dict_values([('ramu', 'suresh', 'tejaswini'), 20, [24.5, 48.56]])

In [72]:
y = {'name':"tilak","age":[45,59],"sal":0}
print(y)

{'name': 'tilak', 'age': [45, 59], 'sal': 0}

In [73]:
print(t.items())

dict_items([('name', ('ramu', 'suresh', 'tejaswini')), ('age', 20), ('sal', [24.5, 48.56])])

In [74]:
[(key,value,(),())]

NameError: name 'key' is not defined

In [75]:
print(t.get('name'))
print(t.get('age'))
print(t.get('no'))

('ramu', 'suresh', 'tejaswini')
20
None

In [76]:
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56]}

In [77]:
print(t)
t['no'] = [12,78,89,450]

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56]}

In [78]:
print(t)
t['no'] = "yamini"
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': [12, 78, 89, 450]}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini'}

In [79]:
print(t)
t.setdefault('tr')
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini'}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': None}

In [80]:
print(t)
t.update({'tr':45})
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': None}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': 45}

In [81]:
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': 45}

In [82]:
print(t.update({'tr':"ramu"}))

None

In [83]:
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': 'ramu'}

In [84]:
print(t)
print(t.pop('age'))
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': 'ramu'}
20
{'name': ('ramu', 'suresh', 'tejaswini'), 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': 'ramu'}

In [85]:
print(t)
print(t.popitem())
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': 'ramu'}
('tr', 'ramu')
{'name': ('ramu', 'suresh', 'tejaswini'), 'sal': [24.5, 48.56], 'no': 'yamini'}

In [86]:
q = ['name','age','sal']
w = [12,45,78,98,45]
print(q)
print(w)
f = {'name':34,'donar':45}
f.fromkeys(w)
print(f)
print(q)
print(w)

['name', 'age', 'sal']
[12, 45, 78, 98, 45]
{'name': 34, 'donar': 45}
['name', 'age', 'sal']
[12, 45, 78, 98, 45]

In [87]:
q = ['name','age','sal']
w = [12,45,78,98,45]
print(q)
print(w)
f = {}
f.fromkeys(q,w)
print(f)

['name', 'age', 'sal']
[12, 45, 78, 98, 45]
{}

In [88]:
t = {'name':"ramu",'sno':1}
t1 = {}
t.fromkeys(q,w)
print(t1)

{}

In [89]:
marks = {}.fromkeys(["maths","python","c++"],[0,45])
print(marks)

{'maths': [0, 45], 'python': [0, 45], 'c++': [0, 45]}

In [ ]:
contact application:
     
    1.Enter new record
    2.Display all records
    3.Update Record
    4.Delete Record
    
    1.ramu -> not exists
       mobile number -> xxxxxx
     
    2. name           mobile number
         ramu            xxxxxxxxxxxx
         rajesh           xxxxxxxxxxx
    3. ramu -> exist
        mobile number -> xxxxxxxx
        
    4.   ramu -> exist
           User deleted successfully
         User doesnt exists

In [ ]:
1
2
3
4
0
           1
                Enter your name: rajesh
                Rajesh Already exists
                Enter your mobile number: xxxxxx
                    
            2
                
                Name          Mobile number
                Rajesh           xxxxxxxxxxx
                
            3
                
                Enter your name: Rajesh
                Enter Updated mobile number : xxxxxx
                        
            R ajesh1 
            Rajesh1 Doesnt exist in your contact
            
        4
           Enter your name: Rajesh
            Rajesh Record deleted successfully
            Rajesh Doesnt exist in your contact